.table {
  margin-left: 50px;
  min-height: 800px;
}

.restaurants-header-container {
  border: solid 1px #e2e2e2;
  color: #013057;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: auto;
  margin-top: 20px;
  width: 1000px;
}

.name-header {
  grid-area: 1 / 1 / 2 / 2;
}

.city-state-header {
  grid-area: 1 / 2 / 2 / 3;
}

.phone-header {
  grid-area: 1 / 3 / 2 / 4;
}

.genre-header {
  grid-area: 1 / 4 / 2 / 5;
}